<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="icon" href="/img/Aditya.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
<body>
    <div class="main-content">
        {{>header}}
        <p>Contact us for any info at:</br>+91 9657186721</br>adityac937@gmail.com</p>
    </div>
    {{>footer}}
</body>
</head>
</html>