<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/Aditya.png">
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <p>Raise your queries at:</br>adityac937@gmail.com</br>+91 9657186721</p>
    
    </div>
    {{>footer}}
</body>
</head>
</html>